vendor
node_modules
assetsmanifest.json
.env
.env.api
.svn
bootstrap/cache/**/*
storage/app/public/*
storage/app/private/*
storage/clockwork/**/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/**/*
jsconfig.json
*.code-workspace
*.md
.env.example
docker-compose.yml
Jenkinsfile
Dockerfile
*.sh
*.yaml
.vscode
.git*
.dockerignore
*.apk
*.sig