/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    @apply h-full w-full;
}

body {
    @apply text-white;
    background: rgb(34, 193, 195);
    background: linear-gradient(
        0deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(45, 118, 253, 1) 100%
    );
    background-attachment: fixed;
}

#root {
    @apply inline;
}

@layer components {
    .card {
        @apply rounded-md shadow;
    }

    .ghost {
        @apply bg-slate-300 rounded opacity-60;
    }
}
